body{
   font-family:'Uchen', serif;;
}
h1{
   color: chartreuse;
   font-size: 40px;
}
#color{
   color: hotpink;
}
.link_button{
    text-decoration: none;
    padding: 5px 10px;
    border-radius:10px;
    background-color: lightpink;
    background-image: linear-gradient(red blue);
    font-weight: 500;
    
}
section{
    display:flex;
    padding-bottom: 5px;

    
}
.half_width{
      width: 50%;
    padding: 5% 3% 5% 3%;
      
}
.half_width img{
    width: 90%;
    
}
.frame{
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
}



